# 1.處裡遺失資料

### pandas物件中，所有描述性統計值的部分，都預設牌除了遺失資料。

### 數值資料中，pandas使用了浮點數值NAN(Not a Number)來表示遺失資料，稱此易於辨識的值為 標記值 :

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
string_data=pd.Series(['aardvark','artichoke',np.nan,'avocado'])

In [4]:
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [6]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

### 統計應用中，NA(not available)資料代表的可能是資料不存在，或是存在但無法觀測的值(如資料收集過程中存在問題)。

### 內建Python None值在物件中，也被當成是NA:

In [7]:
string_data[0]=None

In [8]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

![jupyter](NA處裡方法.PNG)

***

## 過濾遺失值

### dropna

#### 對Series來說，dropna會回傳非遺失資料與它所屬的index:

In [9]:
from numpy import nan as NA

In [11]:
data=pd.Series([1,NA,3.5,NA,7])

In [12]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

#### 等效寫法:

In [13]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

#### 對DataFrame物件來說，濾除遺失值會麻煩點。也許想把充滿NA的列或欄濾除，也有可能想只要含有NA的就濾除。
#### dropna預設行為是只要列裡有遺失值就濾除該列:

In [14]:
data=pd.DataFrame([[1.,6.5,3.],[1.,NA,NA],[NA,NA,NA],[NA,6.5,3.]])

In [15]:
cleaned=data.dropna()

In [16]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [17]:
cleaned

     0    1    2
0  1.0  6.5  3.0

#### 如果指定how='all'的話，只會濾去全都為NA的列:

In [18]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

#### 如果想對欄做一樣的事，就傳axis=1:

In [19]:
data[4]=NA

In [20]:
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [22]:
data.dropna(axis=1,how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

#### 過濾DataFrame時常會需要考慮到時間序列資料，假設想要留下含有指定個數觀察值的列，可用thrseh參數指定:

In [23]:
df=pd.DataFrame(np.random.randn(7,3))

In [24]:
df.iloc[:4,1]=NA

In [25]:
df.iloc[:2,2]=NA

In [26]:
df

          0         1         2
0  0.155839       NaN       NaN
1 -0.277919       NaN       NaN
2  0.435251       NaN  0.175623
3  0.267071       NaN -0.386161
4  0.450113  1.044388  0.834775
5 -0.007744  0.383815 -0.168855
6 -0.886095 -0.399555 -0.170741

In [31]:
df.dropna(thresh=2)

          0         1         2
2  0.435251       NaN  0.175623
3  0.267071       NaN -0.386161
4  0.450113  1.044388  0.834775
5 -0.007744  0.383815 -0.168855
6 -0.886095 -0.399555 -0.170741

***

## 為遺失值填值

和直接濾除掉遺失資料相比，可選擇用一些方法填充遺失值的"洞"。
## fillna
#### 呼叫fillna時將要用的常數取代值傳入:

In [32]:
df

          0         1         2
0  0.155839       NaN       NaN
1 -0.277919       NaN       NaN
2  0.435251       NaN  0.175623
3  0.267071       NaN -0.386161
4  0.450113  1.044388  0.834775
5 -0.007744  0.383815 -0.168855
6 -0.886095 -0.399555 -0.170741

In [33]:
df.fillna(0)

          0         1         2
0  0.155839  0.000000  0.000000
1 -0.277919  0.000000  0.000000
2  0.435251  0.000000  0.175623
3  0.267071  0.000000 -0.386161
4  0.450113  1.044388  0.834775
5 -0.007744  0.383815 -0.168855
6 -0.886095 -0.399555 -0.170741

#### 若呼叫fillna方法時，傳入的是一個dict，可指定不同欄用不同值填充:

In [35]:
df.fillna({1:0.5,2:0})

          0         1         2
0  0.155839  0.500000  0.000000
1 -0.277919  0.500000  0.000000
2  0.435251  0.500000  0.175623
3  0.267071  0.500000 -0.386161
4  0.450113  1.044388  0.834775
5 -0.007744  0.383815 -0.168855
6 -0.886095 -0.399555 -0.170741

#### fillna執行完後，會回傳一個新物件，也可用in-place方法修改目前物件:

In [36]:
df.fillna(0,inplace=True)

In [37]:
df

          0         1         2
0  0.155839  0.000000  0.000000
1 -0.277919  0.000000  0.000000
2  0.435251  0.000000  0.175623
3  0.267071  0.000000 -0.386161
4  0.450113  1.044388  0.834775
5 -0.007744  0.383815 -0.168855
6 -0.886095 -0.399555 -0.170741

#### 在重作索引時用的內插方法，同樣也可用在fillna中:

In [38]:
df=pd.DataFrame(np.random.randn(6,3))

In [39]:
df.iloc[2:,1]=NA

In [40]:
df.iloc[4:,2]=NA

In [41]:
df

          0         1         2
0  0.879263 -0.539211 -1.251687
1  0.930378  0.190519  2.199878
2  1.109485       NaN -0.512456
3 -1.578357       NaN  0.532664
4  0.729814       NaN       NaN
5 -0.742677       NaN       NaN

In [42]:
df.fillna(method='ffill')

          0         1         2
0  0.879263 -0.539211 -1.251687
1  0.930378  0.190519  2.199878
2  1.109485  0.190519 -0.512456
3 -1.578357  0.190519  0.532664
4  0.729814  0.190519  0.532664
5 -0.742677  0.190519  0.532664

In [43]:
df.fillna(method='ffill',limit=2)

          0         1         2
0  0.879263 -0.539211 -1.251687
1  0.930378  0.190519  2.199878
2  1.109485  0.190519 -0.512456
3 -1.578357  0.190519  0.532664
4  0.729814       NaN  0.532664
5 -0.742677       NaN  0.532664

#### 也可把平均值或是中位數傳到一個Series中:

In [45]:
data=pd.Series([1.,NA,3.5,NA,7])

In [46]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

![jupyter](fillna函式參數.PNG)

***

# 資料轉換

## 移除重複值

DataFrame可能有出現重複的列:

In [47]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})

In [48]:
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

#### DataFrame的duplicated方法會回傳一個布林Series，指出每個列有沒有重複值(在前面有出現過):

In [49]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

#### 另一個drop_duplicates的方法，直接回傳DataFrame，內容是duplicated中標示為False的資料:

In [50]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

#### 上述兩方法預設都會檢查所有欄未；相對地，可指定對部分的欄進行檢查:

In [52]:
# 加上一欄，只對'k1'做重複值的過濾:
data['v1']=range(7)

In [53]:
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [54]:
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

#### duplicated和drop_duplicates預設會保留第一個看到的重複值，但若設定keep='last'，會保留最後一個重複值:

In [56]:
data.drop_duplicates(['k1','k2'])

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5

In [57]:
data.drop_duplicates(['k1','k2'],keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

***

## 使用函式或對應關係轉換值

In [1]:
import pandas as pd

### 使用一些資料集合時，可能會想基於陣列、Series或DataFrame中某一欄的值，對資料集合進行某種轉換。
### 利用一個假的肉品分類資料來當例子:

In [2]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [3]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

#### 想為這些肉來自哪種動物新增一個欄，先建立一個肉和動物的對照表:

In [4]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

#### 用來描述肉和動物對應關係的dict型態，可以傳入Series的map方法的參數使用沒有問題。
### 先將肉的名稱通通轉為小寫:

In [5]:
lowercased=data['food'].str.lower()

In [6]:
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [7]:
# 新增animal一欄
data['animal']=lowercased.map(meat_to_animal)

In [8]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

### 傳遞單一函式即可完成上述的工作:

In [9]:
data['food'].map(lambda x:meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

***

## 取代值

#### 使用fillna方法取代遺失值，是取代值的其中一種例子。前面看得map可用來修改一個物件中，部分子集的值，不過replace可提供另一個更簡單又更有彈性的方法。
### 以Series為例:

In [11]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

### 假設-999為遺失值的標記，為了要將它們轉換成pandas看得懂的NA值，可用replace，執行結果會回傳一個新的Series(除非指定inplace=True):

In [12]:
import numpy as np

In [13]:
data.replace(-999,np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

### 若想一次取代多個值，可傳入一個目標值list，後面跟著要替換的值:

In [15]:
data.replace([-999,-1000],np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

### 若想對不同目標值使用不同替換值的話，也可傳入替換值list:

In [16]:
data.replace([-999,-1000],[np.nan,0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

### 以上參數也可用dict傳入:

In [17]:
data.replace({-999:np.nan,-1000:0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

***

## 更名軸index

#### 像Seriese中的值一樣，軸標籤同樣可藉函式或對應進行轉換，產出帶有新標籤的另一個物件。也可im-place的修改，不建立新的資料結構。

In [18]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])

In [19]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

### 軸的index物件跟Series一樣，都有一個叫map的方法:

In [20]:
transform=lambda x:x[:4].upper()

In [21]:
data.index.map(transform) #原DataFrame不會修改

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [22]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

### 直接對index進行給值:

In [23]:
data.index=data.index.map(transform) #in-place修改

In [24]:
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

### 若不想動到原來的東西，想建立一個新轉換過index的資料結合，rename很合適:

In [25]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

### rename搭配類dict物件，取代部分軸標籤:

In [28]:
data.rename(index={'OHIO':'INDIANA'},columns={'three':'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

### rename指定inplace=True

In [30]:
data.rename(index={'OHIO':'INDIANA'},inplace=True)

***

## 離散化和分組

資料分析時，遇見連續性的資料通常要做離散化，或分到不同組中。
#### 對一群人的資料，依年紀做分組:

In [32]:
ages=[20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

#### 將年紀分為 18-25 26-35 36-60 61-以上 。
#### 利用pandas中cut函式:

In [33]:
bins=[18,25,35,60,100] #設定分渠

In [34]:
cats=pd.cut(ages,bins)

In [35]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

pandas回傳的是一個特殊的Categories物件，看到的輸出訊息是pandas.cut計算完以後的分組資訊。可把它想成是分組名稱字串的陣列;它的內部是個Categories陣列，陣列內容是各個分組名稱以及ages資料的index，可在codes屬性中看到Categories陣列:

In [37]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [38]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')

In [39]:
pd.value_counts(cats) #顯示pandas.cut分組以後每組個數。

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

和數學表達區間的符號意思一樣，小括號代表open，中括號代表closed(包含)。
#### 可指定right=False來改變包含的在哪一端:

In [40]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

#### 可把分組取名，將名稱list或陣列指定給labels選項:

In [41]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages,bins,labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

#### 若傳給cut的不是分組區間，而是分組組數的話，它會用資料中最小值和最大值中間計算等距分組:

In [42]:
data=np.random.rand(20)

In [43]:
pd.cut(data,4,precision=2) #分成四組，限定小數點下兩位。

[(0.027, 0.27], (0.027, 0.27], (0.027, 0.27], (0.5, 0.74], (0.027, 0.27], ..., (0.27, 0.5], (0.5, 0.74], (0.5, 0.74], (0.5, 0.74], (0.5, 0.74]]
Length: 20
Categories (4, interval[float64]): [(0.027, 0.27] < (0.27, 0.5] < (0.5, 0.74] < (0.74, 0.98]]

#### 另外有個近親qcut函式，它分組的方法是依據樣本的數量。依資料的分布不同，若要用cut常會有每組資料數量不同的問題。 由於qcut切完後每組的資料點數量一致，所以每組最後資料量都差不多

In [44]:
data=np.random.randn(1000) #常態分佈

In [45]:
cats=pd.qcut(data,4) #切成4份。

In [46]:
cats

[(0.686, 3.339], (-0.72, 0.00747], (-0.72, 0.00747], (0.686, 3.339], (0.00747, 0.686], ..., (0.686, 3.339], (-0.72, 0.00747], (0.686, 3.339], (-2.749, -0.72], (-0.72, 0.00747]]
Length: 1000
Categories (4, interval[float64]): [(-2.749, -0.72] < (-0.72, 0.00747] < (0.00747, 0.686] < (0.686, 3.339]]

In [47]:
pd.value_counts(cats)

(0.686, 3.339]      250
(0.00747, 0.686]    250
(-0.72, 0.00747]    250
(-2.749, -0.72]     250
dtype: int64

#### 跟cut一樣，可自訂每組的量(0到1之間的數值，包含1):

In [50]:
cats_new=pd.qcut(data,[0,0.1,0.5,0.9,1])

In [51]:
pd.value_counts(cats_new)

(0.00747, 1.217]     400
(-1.317, 0.00747]    400
(1.217, 3.339]       100
(-2.749, -1.317]     100
dtype: int64

***

## 偵測和濾除離群值

在陣列運算上過濾和轉換 離群值(transforming outlier)是個很大的問題。
#### 下列DataFrame中有一些不正常分布的資料:

In [52]:
data=pd.DataFrame(np.random.randn(1000,4))

In [54]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.040027    -0.005776     0.043419    -0.000994
std       1.050082     1.028327     0.994917     0.976729
min      -2.897836    -2.674550    -3.061253    -3.172981
25%      -0.700624    -0.716371    -0.637436    -0.636515
50%       0.004959    -0.001332     0.039185    -0.002011
75%       0.725650     0.668373     0.763363     0.670434
max       3.020802     3.579756     2.795886     3.830480

#### 想找出指定欄中，絕對值大於3的值:

In [55]:
col=data[2]

In [57]:
col[np.abs(col)>3]

244   -3.061253
274   -3.042150
Name: 2, dtype: float64

#### 若要在全部欄中，選擇值超過3或-3的列的話，可呼叫布林DataFrame的any方法:

In [66]:
data[(np.abs(data)>3).any(1)]

            0         1         2         3
40   0.474860  3.113158  2.108796  0.052911
244  0.933916  0.611909 -3.061253 -1.131050
274  0.439194  0.598712 -3.042150 -1.368821
322 -1.067628 -0.821669 -0.405980 -3.091957
354  3.020802  0.804738 -1.774773  0.735606
364 -1.587829 -0.550788  1.333196 -3.172981
390  1.357028 -0.301702 -0.674161  3.830480
433 -0.597042  3.053919  0.548553 -0.675217
504 -0.947436  3.013423  0.787335 -0.663279
621  0.080174  3.579756 -0.003762  0.535537
681 -0.965599  3.096080 -1.430036  1.017349
710  1.933159 -0.397000 -0.404540  3.146723

#### 條件也可拿來做給值動作。
#### 將值保持在-3到3之間:

In [67]:
data[np.abs(data)>3]=np.sign(data)*3  #np.sign(data)述句會視data中的值是正數或是負數，產生1或-1值。

In [68]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.040006    -0.006633     0.043523    -0.001706
std       1.050024     1.025641     0.994597     0.972516
min      -2.897836    -2.674550    -3.000000    -3.000000
25%      -0.700624    -0.716371    -0.637436    -0.636515
50%       0.004959    -0.001332     0.039185    -0.002011
75%       0.725650     0.668373     0.763363     0.670434
max       3.000000     3.000000     2.795886     3.000000

In [69]:
np.sign(data).head()

     0    1    2    3
0 -1.0 -1.0  1.0  1.0
1 -1.0 -1.0 -1.0  1.0
2  1.0 -1.0  1.0 -1.0
3  1.0 -1.0 -1.0 -1.0
4 -1.0 -1.0 -1.0  1.0

***

## 排列與隨機取樣

若要對Series或DataFrame中的row作排列(隨機重新排序)，只要使用numpy.random.permutation函式即可。
#### 呼叫permutation時，指定你想要排列的軸的長度，就可得內含新的次序的陣列:

In [76]:
df=pd.DataFrame(np.arange(5*4).reshape((5,4)))

In [77]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [78]:
sampler=np.random.permutation(5)

In [79]:
sampler #輸出為row index 的新排序

array([1, 3, 0, 2, 4])

#### 產出的陣列可用於iloc為基礎的索引，或等校的take函式裡:

In [80]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [81]:
df.take(sampler)

    0   1   2   3
1   4   5   6   7
3  12  13  14  15
0   0   1   2   3
2   8   9  10  11
4  16  17  18  19

In [82]:
df.iloc[sampler]

    0   1   2   3
1   4   5   6   7
3  12  13  14  15
0   0   1   2   3
2   8   9  10  11
4  16  17  18  19

#### 若要隨機選擇不重複子集的話，就使用Series或DataFrame的sample方法:

In [83]:
df.sample(3) #隨機取3列

    0   1   2   3
2   8   9  10  11
4  16  17  18  19
0   0   1   2   3

#### 若要隨機選擇可重複子集的話，就在sample方法中指定replace=True:

In [85]:
choices = pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(10, replace=True)
draws

1    7
4    4
4    4
2   -1
2   -1
4    4
2   -1
2   -1
3    6
1    7
dtype: int64

***

## 指標/虛擬變數

另一種在統計模型或機器學習應用上會用到的轉換，是將一個類別變數，轉換為"虛擬"或"指標"("dummy"或"indicator")陣列。如果DataFrame中的某一欄裡，有k個相異值，可造出一個擁有k欄，其內容為1或0的矩陣或DataFrame。

#### pandas有個get_dummies函式可完成上述的工作:

In [86]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})

In [87]:
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [88]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

#### 某些情況中，想為指標DataFrame的欄位加上前綴，這個加上前綴的動作可在get_dummies中一起完成:

In [89]:
dummies=pd.get_dummies(df['key'],prefix='key') #後方會自動加上 _

In [95]:
df_with_dummy=df[['data1']].join(dummies)

In [96]:
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

#### 如果DataFrame中的一列同時屬於多個類別，情況會變得複雜點。
#### 以MovieLens 1M資料集合當例子:

In [97]:
names=['movie_id','title','genres']

In [98]:
movies=pd.read_table('movielens/movies.dat',sep='::',header=None,names=names)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [100]:
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

#### 為每種電影分類(genre)做出指標變數的話，會需要做一些資料處理。
#### 先把資料集中出現的電影分類項目提取出來:

In [101]:
all_genres=[]

In [102]:
for x in movies.genres:
    all_genres.extend(x.split('|'))

In [103]:
genres=pd.unique(all_genres)

In [104]:
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

#### 一種建構指標DataFrame的方法是從填充0的DataFrame開始:

In [106]:
zero_matrix=np.zeros((len(movies),len(genres)))

In [107]:
dummies=pd.DataFrame(zero_matrix,columns=genres)

In [108]:
zero_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [109]:
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3855,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3861,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3863,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3870,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3873,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### 現在要從頭疊代過每一部電影，並在dummies的列上項目標記1(對應分類上標記1)。
#### 用dummies.columns計算欄位的index，得到分類的index值:

In [110]:
gen=movies.genres[0]

In [111]:
gen

"Animation|Children's|Comedy"

In [112]:
gen.split('|')

['Animation', "Children's", 'Comedy']

In [113]:
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2], dtype=int64)

#### 現在，可用.iloc配合上面得到index進行設定值了:

In [114]:
for i,gen in enumerate(movies.genres):
    indices=dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i,indices]=1

#### 可把結果和movies合併:

In [117]:
movies_windic=movies.join(dummies.add_prefix('Genre_'))

In [118]:
movies_windic

,movie_id,title,genres,Genre_Animation,Genre_Children's,Genre_Comedy,Genre_Adventure,Genre_Fantasy,Genre_Romance,Genre_Drama,...,Genre_Crime,Genre_Thriller,Genre_Horror,Genre_Sci-Fi,Genre_Documentary,Genre_War,Genre_Musical,Genre_Mystery,Genre_Film-Noir,Genre_Western
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,6,Heat (1995),Action|Crime|Thriller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,7,Sabrina (1995),Comedy|Romance,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,8,Tom and Huck (1995),Adventure|Children's,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,9,Sudden Death (1995),Action,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,10,GoldenEye (1995),Action|Adventure|Thriller,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,11,"American President, The (1995)",Comedy|Drama|Romance,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,13,Balto (1995),Animation|Children's,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,14,Nixon (1995),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,15,Cutthroat Island (1995),Action|Adventure|Romance,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,16,Casino (1995),Drama|Thriller,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,17,Sense and Sensibility (1995),Drama|Romance,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,18,Four Rooms (1995),Thriller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,19,Ace Ventura: When Nature Calls (1995),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,20,Money Train (1995),Action,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,21,Get Shorty (1995),Action|Comedy|Drama,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,22,Copycat (1995),Crime|Drama|Thriller,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,23,Assassins (1995),Thriller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,24,Powder (1995),Drama|Sci-Fi,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
24,25,Leaving Las Vegas (1995),Drama|Romance,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,26,Othello (1995),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,27,Now and Then (1995),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,28,Persuasion (1995),Romance,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3854,3924,Pajama Party (1964),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3855,3925,Stranger Than Paradise (1984),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3859,3929,"Bank Dick, The (1940)",Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3864,3934,Kronos (1957),Sci-Fi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3865,3935,Kronos (1973),Horror,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3867,3937,Runaway (1984),Sci-Fi|Thriller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3868,3938,"Slumber Party Massacre, The (1982)",Horror,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3869,3939,"Slumber Party Massacre II, The (1987)",Horror,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3870,3940,"Slumber Party Massacre III, The (1990)",Horror,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3871,3941,Sorority House Massacre (1986),Horror,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3872,3942,Sorority House Massacre II (1990),Horror,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3873,3943,Bamboozled (2000),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3874,3944,Bootmen (2000),Comedy|Drama,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3876,3946,Get Carter (2000),Action|Drama|Thriller,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3877,3947,Get Carter (1971),Thriller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3878,3948,Meet the Parents (2000),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,3949,Requiem for a Dream (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,3950,Tigerland (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,3951,Two Family House (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,3952,"Contender, The (2000)",Drama|Thriller,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

如果是處裡巨型資料的話，建構多項目指標變數的方法速度就會變慢。比較好的解法是做一個可直接寫到NumPy陣列的低階函式，最後再把結果傳回一個DataFrame。

#### 如果是做統計方面應用的話，一個好用的用途是將get_dummies和離散函式(像cut)結合使用:

In [119]:
np.random.seed(12345) #設定隨機種子，可讓飯粒中的隨機值固定住。

In [120]:
values=np.random.rand(10)

In [121]:
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [122]:
bins=[0,0.2,0.4,0.6,0.8,1]

In [123]:
pd.get_dummies(pd.cut(values,bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

***

# 3.字串操作

Python字串物件內建方法可應付大部分的文字操作，若碰到更複雜的搜尋文字操作，也許需要用到正規表達式，Python可把資料陣列中需要做字串處理和正規表達式的地方一起完成，同時能處裡遺失資料問題。

## 字串物件的方法

#### 逗號分隔的字串可被split方法切為數段:

In [9]:
val='a,b,     guido'

In [10]:
val.split(',')

['a', 'b', '     guido']

#### split可和strip合併，消除前後空白(包括換行):

In [11]:
pieces=[x.strip() for x in val.split(',')]

In [12]:
pieces

['a', 'b', 'guido']

#### 子字串可相加，中間用兩個冒號分隔:

In [13]:
first,second,third=pieces

In [15]:
first+'::'+second+'::'+third

'a::b::guido'

另一個方法，把子字串的list或tuple當作參數，傳給字串的 '::' 方法:

In [16]:
'::'.join(pieces)

'a::b::guido'

#### 字串物件還有找子字串的方法，例如index或find，不過使用Python的in關鍵字，是用來找子字串是否存在的最好方法:

In [17]:
'guido' in val

True

In [18]:
val.index(',')

1

In [20]:
val.find(':')

-1

find和index差別是，index找不到子字串的話會丟出一個例外；find會回傳-1。

#### count可回傳指定字串出現幾次:

In [21]:
val.count(',')

2

#### replace會把符合字串換成另一個字串，若替換的字串為空字串的話，可用來刪除特定字串:

In [23]:
val.replace(',','::')

'a::b::     guido'

In [24]:
val.replace(',','')

'ab     guido'

![jupyter](Python內建字串方法.PNG)

***

## 正規表達式

reguler expression 是一個搜尋和比對(複雜比對)文字字串很有彈性的方法。一個單一的表達式常被稱為regex，是一個根據正規表達語言造出的字串，Python內建的re模組負責將正規表達式套用在字串上。

#### re模組函式可分為三個類別:樣式比對、替代和切分。三種分類的功能是有關聯的。
一條regex描述文字組成位置，可用於多種用途上。

#### 假設有一個字串，碰到空白(Tab、空白和換行)時就切開。正規表達式中用來描述一到多個空白字元的方法是 \s+ :

In [26]:
import re

In [27]:
text='foo    var\t baz \tqux'

In [28]:
text

'foo    var\t baz \tqux'

In [29]:
re.split('\s+',text)

['foo', 'var', 'baz', 'qux']

當你呼叫re.split('\s+',text)時，裡面的正規表達式會先被編譯，當字串傳入時，split方法會被呼叫。
#### 可手動呼叫re.compile編譯一個regex，就可有重複可用的regex物件:

In [30]:
regex=re.compile('\s+')

In [31]:
regex.split(text)

['foo', 'var', 'baz', 'qux']

#### 若想要regex有多個比對樣式，可使用findall方法:

In [32]:
regex.findall(text)

['    ', '\t ', ' \t']

為避免正規表達式中不必要的 \ 脫逸動作，可使用r'C:\x'這樣的原始字串，取代使用'C:\\x'。

若表達式要使用在很多字串上的話，建議用re.compile建立一個regex物件，可節省CPU資源。

### match和search

#### match和search和findall很像，差別是findall會回傳所有匹配結果，而search指會回傳第一個匹配結果，至於match更嚴格，只會比對字串的開頭是否匹配。

#### 一段文字，一個可辨識一班電子郵件地址的正規表達式:

In [34]:
import numpy as np

In [38]:
import pandas as pd

In [61]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

#### 對這段文字使用了findall後，可找出裡面所有的郵件地址:

In [62]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

#### search回傳一個特殊的match物件，代表第一個匹配的郵件帳號，這個match物件只會告訴我們第一個郵件帳號開頭和結尾在字串中的位置:

In [63]:
m = regex.search(text)

In [64]:
m

In [65]:
text[m.start():m.end()]

'dave@google.com'

#### 由於regex.match只會檢查字串開頭是否匹配，所以回傳None:

In [66]:
print(regex.match(text))

None

#### 另外有個sub，會回傳一個新字串，內容是將舊字串中所有找到的郵件帳號取代成指定的字串:

In [67]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

#### 若想找到電子郵件，並塗繩將帳號切成使用者名稱、網域名稱以及網域後綴三段的話，就在正規表達式中想切斷的地方放括號:

In [68]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)

#### 修改過後的regex會回傳一個match物件，使用該物件的gruop方法就可得到分段好的元素:

In [69]:
m = regex.match('wesm@bright.net')
m.groups()

('wesm', 'bright', 'net')

#### findall則是會回傳tuple的list:

In [70]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

#### sub也可用\1和\2這樣特別的符號來存取分段結果，\1代表第一段，\2代表第二段，以此類推:

In [71]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

![jupyter](適用正規表達式的方法.PNG)

***

## pandas中的向量字串函式

當整理一個凌亂的資料集合時，通常需要做大量的字串清理和正規化。

In [73]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

可利用data.map將可用的字串方法或正規表達式方法套用在每個值上，但此方法碰到遺失值(null/NA)就會執行失敗。Series有一些適用於陣列的字串操作，可跳過遺失值，可透過Seriese的str屬性來進行這些字串操作。

#### 利用str.contains檢查是否含有特定的子字串:

In [74]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

#### 也可用正規表達式，可任意選搭re的選樣，如IGNORECASE:

In [75]:
pattern=r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [dave@google.com]
Steve    [steve@gmail.com]
Rob        [rob@gmail.com]
Wes                    NaN
dtype: object

#### 要取得向量化的結果，可考慮利用str.get或對str做索引:

In [76]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

#### 向這些含數傳遞索引值，就可取得內部list中的元素:

In [78]:
matches.str.get(1)

Dave    NaN
Steve   NaN
Rob     NaN
Wes     NaN
dtype: float64

In [79]:
matches.str[0]

Dave    NaN
Steve   NaN
Rob     NaN
Wes     NaN
dtype: float64

#### 也可對字串作切片:

In [80]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object

![jupyter](部分向量化字串方法.PNG)

![jupyter](部分向量化字串方法1.PNG)

***